<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo_completo(yield(:titulo)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/facebookjssdk' %>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :funciones %>
  </body>
</html>
